*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
html{
    scroll-behavior: smooth;
}
.li_button{
    display: none;
}
.main-content{
    overflow: hidden;
}
.menubar li a{
    font-size: 1.25rem;
    color: #04212F !important;
    font-weight: bold;
    letter-spacing: 1px;
}
.icon_color{
    color: white !important;
}
@media screen and (max-width: 768px){
    .nav-menu{
        display: none;

    }
    .li_button{
        display: block;
    }

}


/* ------------------body------------------ */
.row_hero{
    background-image: linear-gradient(to right,rgb(87, 45, 12),rgb(188,124,70));
    height: 294px;
    width:100%;
    position: absolute;
}
.butt-sub-content button{
    border-radius: 7px;
}
.banar-card{
    border: none;
    box-shadow: 0.33px 0.33px 6px #b5b8ad;
    border-radius: 5px;
}
.banar-card img{
    height: 60%;
    border-radius: 5px 5px 0px 0px;
}
.detail1 h3{
    font-weight: 580;
    font-size: 16px;
}
.detail1 p{
    font-weight: 520;
    font-size: 14px;
    line-height: 1.5rem;
}
.course_list li::marker{
    color: rgb(2,120,174);
    font-size: 2rem;
}
@media screen and (max-width: 768px) {
    .h3_tag h3{
        color: black;
    }
    .sub-content h3{
        color: #04212F;
    }
}

/* ---------------------footer--------------------------- */
.foot{
    background-color: #04212F;
}
.place_form::placeholder{
    color: white;
    font-size: 14px;
    font-weight: 550;
    padding-left:15px;
}
@media screen and (max-width: 542px) {
    .input_foot h4{
        width: 105%;
    }
}
@media screen and (max-width: 417px) {
    .foot_row{
        padding-right: 1rem !important;
    }
}
@media screen and (max-width: 350px) {
    .foot_row{
        padding-right: 2rem !important;
    }
}
@media screen and (max-width: 434px) {
    .foot_li li a{
        font-size: 12px;
    }
}