*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}
html{
    scroll-behavior: smooth;
}
.course{
    overflow: hidden;
}
.banar-card{
    box-shadow: 0.33px 0.33px 9px #e0dfd4;
    border-radius: 5px;
}
.course_list li::marker{
    color: rgb(2,120,174);
    font-size: 2rem;
}
/* ..................................................footer.............................................. */
.foot{
    background-color: #04212F;
}
.place_form::placeholder{
    color: white;
    font-size: 14px;
    font-weight: 550;
    padding-left:15px;
}
@media screen and (max-width: 542px) {
    .input_foot h4{
        width: 105%;
    }
}
@media screen and (max-width: 417px) {
    .foot_row{
        padding-right: 1rem !important;
    }
}
@media screen and (max-width: 350px) {
    .foot_row{
        padding-right: 2rem !important;
    }
}
@media screen and (max-width: 434px) {
    .foot_li li a{
        font-size: 12px;
    }
}

